@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #c6d8e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  background-color: #f6e3c3;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 60px 0 40px;
}

.menu {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

h1 {
  font-family: 'Kranky';
  color: #233340;
  font-size: 55px;
  letter-spacing: 2px;
  margin: 10px 0 5px;
}

h2 {
  
  color: #233340;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 10px 0 5px;
}

.tagline {
  font-size: 20px;
  color: #233340;
  margin-bottom: 15px;
}



.products {
  text-align: center;
  margin-top: 30px;
  color: #233340
}


.product-card {
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  width: 200px;
  margin: 0 auto 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  border-radius: 8px;
}

.menu-btn{
  background-color: white;
  border: none;
  border-radius: 50px;
  position: absolute;
  padding: 15px 15px;
  top: 20px;    
  right: 20px; 
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}
.view-btn {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #233340
}
